// COLOURS

$white: #ffffff;
$black: #000000;

$purple-950: #301534;
$purple-600: #8b6990;
$purple-100: #f8eeff;

$violet: #ad28eb;

// SPACING

$sp-100: 0.5rem;
$sp-200: 1rem;
$sp-300: 1.5rem;
$sp-400: 2rem;
$sp-500: 2.5rem;
