@mixin txt-prst-1 {
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(2rem, 1.48rem + 2.24vw, 3.5rem);
    font-weight: 700;
    line-height: 4rem;
}

@mixin txt-prst-2 {
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(1rem, 0.96rem + 0.19vw, 1.125rem);
    font-weight: 600;
    line-height: 1.25rem;
}

@mixin txt-prst-3 {
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(0.875rem, 0.83rem + 0.19vw, 1rem);
    font-weight: 400;
    line-height: 1.5rem;
}